<div class='hero-unit'>
	<h1 style='color:#00557a;'>Ruby on Rails Mentors to solve your problems</h1>
	<p>we will help out find an answer to your coding issues quickly and easily through our Question and Answer forum, you can try our forum with a free trial of 2 weeks and then join with one of the following subscriptions:</p>
</div>

<div class='row'>
	<div class='price-left-unit hero-unit col-sm-4'>
		<h2 class='membership-price'><i class="fa fa-usd" aria-hidden="true"></i>30</h2>
	</div>
	<div class='price-central-unit hero-unit col-sm-4'>
		<h2 class='membership-price'>$60</h2>
	</div>
	<div class='price-right-unit hero-unit col-sm-4'>
		<h2 class='membership-price'>$90</h2>
	</div>	
</div>		