<div class='hero-unit'>
	<h1 style='color:#00557a;'>Ruby on Rails Mentors to solve your problems</h1>
	<p>we will help out find an answer to your coding issues quickly and easily through our Question and Answer forum. The forum membership will be for free for the first 500 members. This are the different type of paid subscriptions available:</p>
</div>

<%= link_to 'Join the Community', new_user_registration_path, class: 'btn btn-wide btn-lg btn-primary' %>

<div class='row prices'>
	<div class='price-left-unit hero-unit col-sm-4'>
		<div class='price'>
			<h2><span class='currency'>$</span><span class='number'>30</span></h2>
			<p style='color:white'>per month</p>
		</div>
	</div>
	<div class='price-central-unit hero-unit col-sm-4'>
		<div class='price'>
			<h2 class='membership-price'><span class='currency'>$</span><span class='number'>60</span></h2>
			<p style='color:white'>per month</p>
		</div>
	</div>
	<div class='price-right-unit hero-unit col-sm-4'>
		<div class='price'>
			<h2 class='membership-price'><span class='currency'>$</span><span class='number'>90</span></h2>
			<p style='color:white'>per month</p>
		</div>
	</div>	
</div>		
<div class='row descriptions'>
	<div class='hero-unit col-sm-4'>
		<h3>Basic assistance</h3>
	</div>
	<div class='hero-unit col-sm-4'>
 		<h3>Intensive assistance</h3>
	</div>
	<div class='hero-unit col-sm-4'>
		<h3>Full unlimited assistance</h3>
	</div>	
</div>			