<div class='hero-unit'>
	<h1 style='color:#00557a;'>Ruby on Rails Mentors to solve your problems</h1>
	<p>we will help out find an answer to your coding issues quickly and easily through our Question and Answer forum, you can try our forum with a free trial of 2 weeks and then join with one of the following subscriptions:</p>
</div>

<div class='row prices'>
	<div class='price-left-unit hero-unit col-sm-4'>
		<h2 class='membership-price'><span class='currency'>$</span><span class='number'>30</span></h2>
		<p style='color:white'>per month</p>
	</div>
	<div class='price-central-unit hero-unit col-sm-4'>
		<h2 class='membership-price'><span class='currency'>$</span><span class='number'>60</span></h2>
	</div>
	<div class='price-right-unit hero-unit col-sm-4'>
		<h2 class='membership-price'><span class='currency'>$</span><span class='number'>90</span></h2>
	</div>	
</div>		
<div class='row descriptions'>
	<div class='hero-unit col-sm-4'>
		<h3>Basic assistance</h3>
	</div>
	<div class='hero-unit col-sm-4'>
 		<h3>Intensive assistance</h3>
	</div>
	<div class='hero-unit col-sm-4'>
		<h3>Full unlimited assistance</h3>
	</div>	
</div>			